# =====================================================================
# Python / General
# =====================================================================
__pycache__/
*.py[cod]
*.pyo
*.so
*.dll
*.log
*.tmp
*.swp
*.DS_Store

# Jupyter
.ipynb_checkpoints/
.notebooks_cache/

# =====================================================================
# Virtual Environments
# =====================================================================
.venv/
.venvsource/
env/
imdb-sentiment-env/
source/

# =====================================================================
# IDE / Editor
# =====================================================================
.vscode/
.vs/

# =====================================================================
# Build / Packaging
# =====================================================================
*.egg-info/
*.egg
dist/
build/

# =====================================================================
# Results / Repors
# =====================================================================
reports/
results/

# =====================================================================
# Models
# =====================================================================
artifacts/
